<!DOCTYPE html>
<html>
  <head>
    <title>Counter App</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Counter App</h1>
    <p>Page Refreshed <%= count %> time(s)</p>
  </body>
</html>
